@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Odibee+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
.padding {
  padding-top: 10%;
  padding-left: 15%; }

.parriba {
  padding-bottom: 2.5%; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../img/fondo.webp);
  background-attachment: fixed; }

.cursor:hover {
  font-weight: 600;
  color: black; }

h1, h2, h3 {
  font-family: "Luckiest Guy", cursive; }

p {
  font-family: "Luckiest Guy", cursive;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 400; }

td {
  font-family: "Luckiest Guy", cursive; }

h1 {
  color: black;
  font-size: 3rem;
  padding-top: 3%; }

h2 {
  color: blue;
  font-size: 3rem; }

h3 {
  color: black;
  font-size: 2rem; }

h5 {
  color: black;
  font-size: 4rem;
  font-family: "Potta One", cursive; }

h6 {
  font-size: 1.5rem; }

.bg-light {
  background-color: white; }

.bg-night {
  background-color: black; }

.linear-gradient {
  background: linear-gradient(to top, purple, pink); }

.nosotros-gradient {
  background: linear-gradient(to top, yellow, orange); }

.productos-gradient {
  background: linear-gradient(to top, pink, lightblue); }

.contacto-gradient {
  background: linear-gradient(to right, purple, blue); }

.video {
  width: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto; }

.video:after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 56%; }

.esvideo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

iframe {
  max-width: 100%;
  height: auto; }

.letraz, .letrass {
  font-family: "Potta One", cursive; }

.letrass {
  background-color: white; }

h4 {
  font-family: "Potta One", cursive; }

.bg-violet {
  background-color: lightblue; }

.bg-yellow {
  background-color: yellow; }
