@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

html{
	font-size: 62.5%;
}

body{
	background-image: url(../img/fondo.png);
	background-attachment: fixed;

}

h1,h2,h3{
	font-family: 'Luckiest Guy', cursive;
}

p{
	font-family: 'Luckiest Guy', cursive;
	font-size: 1.8rem;
	line-height: 2.2rem;
	font-weight: 400;
}


h1{
	color: black;
	font-size: 3rem;
	padding-top: 3%;
}

h2{
	color: white;
	font-size: 3rem;
}

h3{
	color: black;
	font-size: 2rem;
}

h5{
	color: BLACK;
	font-size: 4rem;
    font-family: 'Potta One', cursive;
}

.tam{
    font-size: 3rem;
    font-family: 'Staatliches', cursive;
}

.padding{
	padding-top: 10%;
    padding-left: 15%;
}

.encabezado__box--white{
	background-color: black;
	padding: auto;
}  

.flexible{
	display: flex;
	align-items: center;
	justify-content: space-around;
 	width: 94%;
 	margin: 50px;

}

.busquedaconsu__tam--md{
	font-size: 3rem;
}