// fonts

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');


// vars 

$mainFont:'Luckiest Guy', cursive;
$secondFont: 'Potta One', cursive;
$threeFont:'Staatliches', cursive;


// padding

.padding{
	padding-top: 10%;
    padding-left: 15%;
}

.parriba{
	padding-bottom: 2.5%;
}




