// Rellenos

.bg-light{
	background-color: $blanco;
}

.bg-violet{
	background-color: $celeste;
}

.bg-yellow{
	background-color: $amarillo;
}

.bg-night{
	background-color: $negro;
}

// Mezcla de colores 

.linear-gradient{
	background: $purpurosa;
}

.nosotros-gradient{
	background: $amarinaranja;
}

.productos-gradient{
	background: $rosaceleste;
}

.contacto-gradient{
	background: $purpuazul;
}
