// Rellenos

.bg-light{
	background-color: $blanco;
}

.bg-night{
	background-color: $negro;
}

// Mezcla de colores 

.linear-gradient{
	background: $purpurosa;
}

.nosotros-gradient{
	background: $amarinaranja;
}

.productos-gradient{
	background: $rosaceleste;
}

.contacto-gradient{
	background: $purpuazul;
}

.btn-mezcla{
	background: $purpurosa;
}

.btn-gris{
	background: $gris;
}
