// vars para colores

$azul: blue;
$negro: black;
$blanco: white;
$amarillo: yellow;
$celeste: lightblue;
$rojo: red;
$gris: grey;
$rosa: pink;
$purpurosa: linear-gradient(to top, purple, pink);
$amarinaranja: linear-gradient(to top, yellow, orange);
$rosaceleste: linear-gradient(to top, pink, lightblue);
$purpuazul: linear-gradient(to right, purple, blue);



